@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-items{
    display: flex;  
    gap: 3rem;
    padding: 0 4em;
}

.nav-items div{
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.8s;
}

.nav-items div a{
    text-decoration: none;
    color: black;
}

.nav-items div:hover{
    font-weight: bold;
}

/* about 25 min */

/* baad me dekh lenge sorry for that day */

/* only for github streak and push */
